.landingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  /* background: rgb(221, 219, 219); */
}

.landingHeader {
  text-align: start;
  margin-bottom: 30px;
}
.landingHeader h1 {
  font-size: clamp(1.4rem, 10vw, 2.3rem);
  line-height: 120%;
  /* letter-spacing: 0.03em; */
}

.formContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  width: 70%;
}

.form_slider {
  /* display: flex;
  flex-direction: column; */
  text-align: start;
  max-width: 400px;
}

/* Btn Container */
.formBtnContainer {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  width: 59%;
}

/* Chart Container */
.chart_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
   width: fit-content;
  /* height: 80vh; */
  justify-self: center;
}

.chart_circle {
  max-width: 450px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.dash_pic {
  max-width: 500px;
  height: 300px;
  background: grey;
}

.dash_desc {
  max-width: 56ch;
  text-align: start;
}



@media only screen and (max-width: 500px) {
  .formContainer{
     width: 100%;
  }

} 